<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>豆瓣一刻</title>
	<link rel="shortcut icon" href="./favicon.ico" type="image/x-icon">
	<link rel="stylesheet" href="./public/less/main.css">
</head>
<body ng-app="Yike">
	<div class="viewport" ng-controller="DemoController">
		<!-- 侧边导航 -->
		<div ng-app="star" ng-class="{navs: true, collapse: collapsed}" ng-controller="NavController">
			<dl>
				<dt class="login">
					<div class="avatar">
						<img src="./public/images/avatar.png" alt="">
					</div>
					<span>登录</span>
				</dt>
				<dd class="active" ng-repeat="nav in navs">
					<a href="{{nav.link}}" ng-click="toggle()" class="{{nav.icon}}">
						<span>{{nav.text}}</span>
					</a>
				</dd>
				<!-- <dd>
					<a href="#!/older" ng-click="toggle()" class="icon-file-empty">
						<span>往期内容</span>
					</a>
				</dd> -->
			</dl>
			<div class="extra">
				<a href="javascript:;" class="icon-image">夜晚</a>
				<a href="javascript:;" class="icon-download">离线</a>
			</div>
		</div>
		<div class="container">
			<!-- 头部 -->
			<div ng-class="{header: true, collapse: collapsed}">
				<a href="javascript:;" ng-click="toggle()" class="menu icon-menu"></a>
				<h2>今日一刻</h2>
				<a href="javascript:;" class="search icon-search"></a>
			</div>
			<!-- 主体 -->
			<div ng-class="{body: true, collapse: collapsed}">
				<div loading class="loading" ng-hide="loaded">
					<img src="./public/images/loading.gif">
				</div>
				<!-- 占位符 -->
				<div ng-view></div>
			</div>
		</div>
	</div>
	<!-- <script src="./public/libs/toggle.js"></script> -->

	<!-- -------------------------------------------------------------- -->
	<!-- 合并下面的两个js文件的注释头 -->
	<script src="./anjular.min.js"></script>
	<!-- 合并文件注释尾 -->
	<!-- -------------------------------------------------------------- -->

	<!-- AngularJS入口 -->
	<script src="./scripts/my-app.js"></script> 
	<!-- 控制器模块 -->
	<script src="./scripts/my-controllers.js"></script>
	<!-- 指令模块 -->
	<script src="./scripts/directives.js"></script>
</body>
</html>