<div class="item">
	<div class="mark" ng-show="loaded">{{date|date:'yyyy-MM-dd'}}</div>
	<ul class="posts large">
	<!-- 文章  -->
		<li ng-repeat="star in stars">
			<span href="javascript:;" class="tag" ng-if="star.column.name">{{star.column.name}}</span>
			<div class="cont">
				<h3>{{star.title}}</h3>
				<div class="brief">
					<p ng-class="{only: star.display_style == 10001}" ng-if="star.display_style != 10003">{{star.abstract}}</p>
					<div class="thumb" ng-if="star.display_style == 10002">
						<img ng-src="{{star.thumbs[0].small.url}}" alt="">
					</div>
					<div class="gallery" ng-class="{small:star.thumbs[2]}" ng-if="star.display_style == 10003">
						<div class="img-box" ng-repeat="thumb in star.thumbs">
							<img ng-src="{{thumb.small.url}}" alt="">
						</div>
					</div>
				</div>		
			</div>
		</li>
	</ul>
</div>

<!-- 
	<div class="item">
		<div class="mark" ng-show="
		loaded">{{date|date:'ddMMM'}}</div>
		<ul class="posts">
			<li ng-repeat="post in posts">
				<span href="javascript:;" class="tag" ng-if="post.column.name">{{post.column.name}}</span>
				<div class="cont">
					<h3>{{post.title}}</h3>
					<div class="brief">
						<p ng-class="{only: post.display_style == 10001}" ng-if="post.display_style != 10003">{{post.abstract}}</p>
						<div class="thumb" ng-if="post.display_style == 10002">
							<img ng-src="{{post.thumbs[0].small.url}}" alt="">
						</div>
						<div class="gallery" ng-if="post.display_style == 10003">
							<div class="img-box" ng-repeat="thumb in post.thumbs">
								<img ng-src="{{thumb.small.url}}" alt="">
							</div>
						</div>
					</div>							
				</div>
			</li>
		</ul>
	</div> -->