<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>Document</title>
</head>
<body>
    <!-- 无序列表 -->
	<ul type="disc">
		<li>习近平就阿富汗恐袭致慰问电</li>
		<li>习近平就阿富汗恐袭致慰问电</li>
		<li>习近平就阿富汗恐袭致慰问电</li>
		<li>习近平就阿富汗恐袭致慰问电</li>
	</ul>

   <!-- 有序列表 -->
	<ol  start="3">
		<li>日本经济被掐断 安倍欲哭无泪</li>
		<li>大中华区继续领跌苹果新财报</li>
		<li>大中华区继续领跌苹果新财报</li>
		<li>大中华区继续领跌苹果新财报</li>
		<li>大中华区继续领跌苹果新财报</li>

	</ol>

	<!-- 自定义列表 -->
	<dl>
		<dt>帮助中心</dt>
		<dd>购物指南</dd>
		<dd>订单操作</dd>
		<dd>账户管理</dd>
	</dl>

</body>
</html>